<p class="texto-subtopico">Trabalhamos na instrução de demandas administrativas perante diferentes instituições, como Agências Reguladoras (ANEEL, ANAC, ANS, ANP), Comissão de Valores Mobiliários (CVM), Banco Central (BC) e Conselho Administrativo de Defesa Econômica (CADE). </p>
<p class="texto-subtopico">Também atuamos na quantificação de direitos reconhecidos em juízo, apurados confiavelmente, a partir da utilização de parâmetros claros e transparentes. Este serviço exige um conhecimento interdisciplinar, em áreas como contabilidade, economia, finanças e programação.</p>
