<p class="texto-subtopico">No contexto da regulação setorial, elaboramos estudos e projetos com o objetivo de subsidiar soluções para questões econômicas, financeiras e regulatórias, relacionadas à infraestrutura, como transportes, telecomunicações e energia.
Ao lidar com setores regulados, entendemos ser imprescindível possuir um amplo conhecimento não apenas sobre a dinâmica competitiva de sua cadeia produtiva, como também no que se refere à estrutura e ao funcionamento dos órgãos responsáveis pela regulação de cada setor.</p>
