<p class="texto-subtopico">Elaboração de estudos para a avaliação de ativos e passivos, empresas e projetos, inclusive para fins regulatórios, como teste de impairment, mensuração a valor justo e Purchase Price Allocation (PPA). </p>
<p class="texto-subtopico">Também oferecemos serviços de avaliação de créditos não-performados (incluindo créditos judiciais), elaboração de planejamentos tributários e desenvolvimento de soluções customizadas que requeiram conhecimentos avançados em finanças.</p>
