<p class="texto-subtopico">O conceito de um crédito judicial remete a um direito pecuniário, ou seja, um valor que você deve receber no término de um processo judicial, que pode ser iniciado por pessoas físicas, pessoas jurídicas de direito privado (como as empresas limitadas e as sociedades anônimas) e de direito público, como entes da Administração Pública Direta (União, Estados, Distrito Federal e Municípios) e indireta (autarquias, fundações públicas, empresas públicas e sociedades de economia mista).</p>


<h6 class="titulo-sub-subtopico mt-5">O que são direitos creditórios?</h6>
<p class="texto-subtopico">O conceito de direito creditório remete ao direito que um titular tem de receber valores em dinheiro ou em títulos advindos de transações financeiras, comerciais imobiliárias ou de ações judiciais. No mercado de ativos judiciais em que o polo passivo envolva entes da Administração Pública, o conceito de um direito creditório remete ao direito de receber um precatório que ainda não foi emitido.</p>


<h6 class="titulo-sub-subtopico mt-5">O que significa vender um direito creditório?</h6>
<p class="texto-subtopico">Vender um direito creditório proveniente de um ativo judicial a um terceiro ("cessionário") significa receber antecipadamente o valor que se receberia ao final da execução mediante o pagamento de um "deságio", que consiste no desconto calculado por este terceiro com base no grau de risco que ele entende existir na operação. Uma vez consolidada a venda, o que acontecerá através da celebração de um "Instrumento de Cessão de Direitos Creditórios", o cessionário procederá com a mudança no polo ativo da ação, tornando-se, portanto, seu novo responsável direto. Portanto, além de receber o valor futuro à vista, o vendedor ("cedente") também tem a vantagem de repassar os riscos atrelados ao procedimento executório a um terceiro, que passará a gerir seu processo, como se detentor originário fosse. </p>


<h6 class="titulo-sub-subtopico mt-5">O que eu posso ganhar com a negociação de um crédito judicial?</h6><br>

<b class="bullet mt-5">•	Antecipação de fluxo de caixa</b>
<p class="texto-subtopico">
  Aumentar a liquidez da sua empresa pode ser importante para a gestão de caixa ou mesmo potencializar seus lucros a partir de ganhos de escala na negociação com fornecedores, por exemplo.
</p>

<b class="bullet mt-5">•	Gestão de riscos estruturais </b>
<p class="texto-subtopico">
  Com a gravidade da situação fiscal brasileira, o risco de não receber ou de ter seu recebimento diferido é real. Assim, em que pese a superioridade dos precatórios federais com relação aos estaduais/municipais no que diz respeito à probabilidade de recebimento, algumas iniciativas legislativas têm explorado a possibilidade de flexibilizar o pagamento destes recebíveis em função do interesse público do Estado.
</p>

<b class="bullet mt-5"> •	Gestão de riscos corporativos </b>
<p class="texto-subtopico">
  Há também riscos corporativos, relacionados principalmente ao grau de endividamento da sua empresa, especialmente no que diz respeito às dívidas tributárias em aberto. Assim, a venda de um direito creditório pode fazer parte de uma estratégia de planejamento tributário e otimizar a gestão de riscos corporativos, reduzindo o grau de exposição da sua empresa.
</p>


<h6 class="titulo-sub-subtopico mt-5">Quais créditos judiciais a LEME negocia?</h6>
<p class="texto-subtopico">Na LEME, sempre procuramos analisar o mais variado leque de créditos judiciais, mas nosso maior interesse é por direitos creditórios com trânsito em julgado (ainda que com ações rescisórias pendentes de julgamento) contra devedores privados ou públicos (neste caso, preferencialmente a União).</p>


<h6 class="titulo-sub-subtopico mt-5">Quanto tempo normalmente leva desde a primeira reunião até a conclusão da venda?</h6>
<p class="texto-subtopico">O processo desde a realização da primeira reunião até a conclusão da operação (com a celebração do Instrumento de Cessão em cartório) normalmente durará entre 1 e 2 meses, a depender da agilidade do cedente quanto ao envio de informações necessárias ao andamento da análise e do nível de complexidade da operação - o que vai depender essencialmente da evolução processual de sua etapa executória, bem como do grau de endividamento do vendedor ("Cedente").</p>


<h6 class="titulo-sub-subtopico mt-5">Qual o deságio normalmente praticado na venda de Direitos Creditórios contra a Administração Pública?</h6>
<p class="texto-subtopico">Não há como responder esta pergunta sem proceder com uma análise mínima do Direito Creditório objeto da venda futura. Normalmente, uma noção mais concreta sobre o percentual de deságio que será aplicado em cada caso virá uma vez concluída a análise prima facie da operação, ou seja, entre 1-2 semanas da primeira reunião. Todos os critérios de análise enumerados no slide anterior influenciarão na determinação do deságio final.</p>
